<!-- views/partials/footer.ejs -->
<p class="text-center text-muted"><a href="http://royalhackaway.xyz/">Royal Hackaway 2018</a>  •  <a href="">GitHub</a>  •  <a href="https://devpost.com/software/is-your-country-a-shithole">Devpost</a></p>
