<title><%= title %></title>

<!--- Meta --->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
<link rel="shortcut icon" href="favicon.png" type="image/x-icon">

<!--- Bootstrap --->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!--- Map --->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<!--- Custom CSS --->
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

<!--- Custom JS --->
<script src="scripts/search.js"></script>
<script src="scripts/map.js"></script>
