@import url("https://fonts.googleapis.com/css?family=Kavivanar|Lato");

body {
  padding: 50px;
  font-family: "Lato", sans-serif;
  background-image: url("../assets/murica.png");
  background-size: contain;
}

h1 {
  font-family: "Kavivanar", cursive;
  font-size: 56px;
}

h4 {
  font-family: "Kavivanar", cursive;
  font-size: 22px;
}

a {
  color: #00b7ff;
}

/*
Bootstrap & Result
 */

.jumbotron {
  background-color: white;
  margin-top: 0;
  border: solid 2px #222;
}

.jumbotron img {
  max-width: 200px !important;
  margin-bottom: 10px;
}

.jumbotron p {
  margin-bottom: 40px !important;
}

.tag {
  font-weight: bold;
}

#america {
  display: none;
}

.container {
  padding-top: 0;
  padding-bottom: 20px;
}

/*
Info
 */

.info {
  float: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

/*
Main and Tabs
 */

.all {
  text-align: center;
}

.all img {
  max-width: 80%;
}

.sections {
  width: 138px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.sections li:hover {
  cursor: pointer;
}

.blocks {
  margin-top: 50px;
}

/*
Search Bar
 */

#search-block {
  padding: 10px;
}

.search {
  width: 600px;
  padding-top: 10px;
}

.searchbar-button {
  display: inline-block;
  background-color: transparent;
  pointer-events: none;
}

.searchbar-button i {
  font-size: 30px;
  line-height: 10px;
  color: #adadad;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}

#searchbar-input {
  display: inline-block;
  max-width: 520px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #adadad;
  transition: border-bottom-color 0.2s ease;
  -webkit-transition: border-bottom-color 0.2s ease;
  -moz-transition: border-bottom-color 0.2s ease;
  -o-transition: border-bottom-color 0.2s ease;
}

#searchbar-input:focus,
.search button:active,
.search button:focus {
  outline: none !important;
  box-shadow: none;
}

#searchbar-input::placeholder {
  color: #adadad;
}

/*
Map
 */

#map-block {
  padding-top: 20px;
  height: 450px;
  min-width: 310px;
  max-width: 1000px;
  margin: 0 auto;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}

.selector {
  display: none;
}

#sideBox {
  display: none;
}

@media only screen and (max-width: 600px) {
  #searchbar-input,
  .searchbar-button i {
    font-size: 22px;
  }

  h1 {
    font-size: 30px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 14px !important;
  }

  .all img {
    max-width: 100%;
  }

  .jumbotron img {
    max-width: 100px !important;
    margin-bottom: 10px;
  }
}
