<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<main>
<div class="row">
    <div class="col-sm-12">
        <div class="all">
          <img src="assets/donald-duck-title.png"/>
          <img src="https://i.imgur.com/lwFrePA.gif"/>
          <h1>Error</h1>
          <p><%= error %></p>
        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
