<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<main>

    <div class="all">
      <img src="assets/donald-duck-title.png"/>

      <div class="blocks">
        <div id="search-block">
          <form method="GET">
            <label class="search" for="searchbar-input">
              <input id="searchbar-input" name="country" type="text" placeholder="e.g Haiti, El Salvador..." alt="https://giphy.com/gifs/trump-donald-never-26ufj77mgPHLDHgWY"/>
              <button type="submit" class="searchbar-button btn">
                <i id="searchbar-input-button" class="glyphicon glyphicon-search"></i>
              </button>
            </label>
          </form>
        </div>

        <div class="info">
          <h4>The latest controversy surrounding Donald Trump is his alleged claim that Haiti, El Salvador, and others are
            "shithole countries". If you'd like to know if he thinks <i>your</i> country is a shithole, search
            above or look at the <a href="/heatmap">heat map!</a>
          </h4>
        </div>
      </div>

    </div>

</main>

</body>
</html>
