<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <!--<% include ../partials/header %>-->
</header>

<main>

    <div class="all">
      <img src="assets/donald-duck-title.png"/>
      <div class="info">
        <h1><%= result.header %></h1>
      </div>

      <div class="jumbotron">
          <p><%= result.body %></p>
          <a href="/">Return Home</a>
      </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
